@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway';
  padding: 2em;
  overflow-x: hidden;
}

.label {
  background-color: #FFFFFF;
  border-color: #000000;
  text-align: center;
  text-decoration: none;
  height: 128px;
  width: 128px;
  margin: 10px;
}

#header {
  text-align: center;
}

.label:focus {
  background-color: gray;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #daffe7;
  padding: 5px;
}
